<div style="text-align: center"><img width=150px src="http://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/R_logo.svg/200px-R_logo.svg.png"></div>

# An introduction to R and notebooks

R is a language for statistical computing and graphics. It is distributed for free (under the GNU General Public License) and used by many people around the world to analyse data.  

You can learn more about R at [r-project.org](https://www.r-project.org/about.html) and [An Introduction to R](https://cran.r-project.org/doc/manuals/r-release/R-intro.html).

Use of an analysis notebooks helps you to make your research reproducible, and reduces the chance of making errors (such as transcribing numbers from analysis to report). It also means that if, for some reason, your data are updated then all the analysis can be re-run automatically without having to keep pointing and clicking through multiple menus (e.g. as you would do if using alternative software such as SPSS, Prism etc). 

This notebook demonstrates R within a Jupyter notebook, adapting some material from the Microsoft Azure tutorial for R notebooks. 

(NB: although we'll use an R notebook note this is not required to use R for statistical analysis. e.g. You could download it and run it on your computer instead. All you need is available at [r-project.org](https://www.r-project.org/about.html). If you want to install on your computer then a popular add-on some people like is [RStudio](https://www.rstudio.com/products/rstudio/download) (described as "a set of integrated tools designed to help you be more productive with R").

# How to use this tutorial

This tutorial is a Jupyter notebook, and you can edit and change any of it when opened in Jupyter.

Please work your way through the text in the tutorial. At some points you will be asked to enter R code and run it.

# Notebook basics

There are two basic types of 'cells' in this Jupyter notebook. 

- Markdown
- Code 

Markdown is where you write your text, or tell the notebook to display an image.
Code is where you do you analysis (in R for us). You can choose the type of cell using the menu above

![title](media/menu.png)

This is a markdown cell. 
- When it has been 'run' it will look nice in the browser (it has been rendered as HTML)
- When it is being edited it will have a box around it. For example, to edit text in this cell, double click on it. 

To choose the type of cell (markdown or code) select the box at the top in the menu, and change the selection. Of course code might cause problems in a markdown cell, and vice versa. So you need to make sure you have the right type of cell for what you are entering.

To get each markdown cell to format or each code cell to do the calculations hit the **Run** button (to the left of the markdown/code selction) after editing it. 

To run all the cells again from the start to the end hit the **>>** button.

# Using R


## Your first R command

The cell below this is the first code cell in this notebook, and it runs a simple command in R

In [1]:
# In a code cell the hashtag means comment - anything after it does not do anything
print("hello world")

[1] "hello world"

**TASK FOR YOU** Repeat what was just done in the code cell by entering a new code cell below this.

Instructions:
- first select this cell, then 
- go to menu option: **Insert > Insert Cell Below** (or just use the button **+** on the toolbar), 
- enter the code in R to print out "why did the chicken cross the road?" 
- and hit **Run**

## R as a calculator 

You can use R like a calculator. For example 10 times 20 = ?

In [2]:
10 * 20

[1] 200

In [3]:
# Division example
2/3

[1] 0.6666667

** TASK FOR YOU ** How would you add 123 + 125 and get the answer printed out?

In [4]:
#enter your code below and then click run

The elementary arithmetic operators are the usual `+`, `-`, `*`, `/`, and `^` (raise to a power), along with all the common arithmetic functions: `log`, `exp`, `sin`, `cos`, `tan`, `sqrt`, and so on.

In [5]:
#e.g.the square root of 4 is what?
sqrt(4)

[1] 2

**TASK FOR YOU** Below a code cell has been created. Please write code in it to calculate the square of 3 (i.e. 3^2) and print it out by hitting **Run**

In [6]:
#write your code below and then hit run

## Saving values

In R we can also save or 'assign' values to an 'object'. This is very useful and needed for more complex analysis.

In [7]:
# For example
myval <- 2/3

**TASK FOR YOU** Write the code to print out `myval`. 
(Hint: to print out a saved object you just need to write the name of the object and hit run)

In [8]:
# enter your code here and run it

Did you get an error message? `Error in eval(expr, envir, enclos): object 'myval' not found`

If you did not then well done - continue to next section!

If you did get this error then the reason is that you did not run the code cell above where `myval <- 2/3`. This means that the computer does not yet know what `myval` is. Run the code cell above where `myval <- 2/3`, and then run your cell containing code to print out `myval`. This time it should work.

For the rest of the tutorial I suggest that you *run every cell* as you go - afterwards the notebook will move to the next cell automatically. (Recall - if you want to run *all* cells in order at once, use the **>>** button)


## Vectors and assignment

R is more advanced than a calculator. More generally R operates on named *data structures*. This is jargon, but worth learning in order to follow the help files in R.

The simplest *data structure* is the numeric *vector*, which is an ordered collection of numbers (and the most simple vector is just a number - a vector with length 1). 

To set up a vector named `x`, say, consisting of five numbers, namely 10.4, 5.6, 3.1, 6.4 and 21.7, use the following R command:

In [9]:
x <- c(10.4, 5.6, 3.1, 6.4, 21.7)

As we saw above, in a notebook, the previous cell won't show any output. You can see the contents of `x` by simple running `x` in a code cell:

In [10]:
x

[1] 10.4  5.6  3.1  6.4 21.7

`c()` is a type of *function* . This function puts the numbers together into a vector (`c` stands for concatenation).

The assignment operator (`<-`) consists of the two characters, `<` ("less than") and '-' ("minus") occurring strictly side-by-side. It looks like the point of an arrow to the object receiving the value of the expression. It is equivalent to '=', and if you like, you can just use '=' instead.

**TASK FOR YOU** Now try to repeat what we did. Enter a vector called `x2` with elements 1,2,3,4, and print it out

In [11]:
##Enter your code here and then run it

One nice thing about R is it is easy to get help. For example, suppose you forgot what c() does. You would do this by entering ?c . 
**TASK FOR YOU** Get the R help file for c() by entering ?c

In [12]:
#Enter ?c then click run to get help on the function c()

Examples at the bottom of the help file are often the most practically useful part of the help file. They show you how it can be used.

### Some maths using vectors

You can also do some maths using the vector, as we did for numbers above. For example, the following statement displays the reciprocals of the values in `x` (but doesn't assign those values to any variable):

In [13]:
1/x

[1] 0.09615385 0.17857143 0.32258065 0.15625000 0.04608295

The following code creates a vector `y` with 11 entries consisting of two copies of x with a zero in the middle place.

In [14]:
y <- c(x, 0, x)
y

 [1] 10.4  5.6  3.1  6.4 21.7  0.0 10.4  5.6  3.1  6.4 21.7

### Some other operations on vectors
- `max` and `min` select the largest and smallest elements of a vector, respectively. 
- `length(x)` is the number of elements in `x`, 
- `sum(x)` gives the total of the elements in `x`, 
- `mean(x)` gives the mean (sum divided by length)
- `sd(x)` gives the standard deviation

In [15]:
# For example
min(x)
max(x)
length(x)
sum(x)
mean(x)
sd(x)

[1] 3.1

[1] 21.7

[1] 5

[1] 47.2

[1] 9.44

[1] 7.33846

Help is also available for these, e.g. --

In [16]:
?mean

In the help file you'll see that you can specify more than just `mean(x)`. 

For example, you might enter `mean(x, trim=0.1)`. This would take the mean, but remove 10% of the data at the extremes. Like the median, it is sometimes used to remove the effect of outliers when giving a estimate of the average.

In [17]:
#for example, suppose data are all 1 except for one, which is 1000
y<-c(1,1,1,1,1,1,1,1,1,1000)
mean(y)

[1] 100.9

Which is perhaps not a good description of the average in the data (e.g. if 1000 is infeasible). If we trim the top and bottom (i.e. remove 20% of the data) then we get ..

In [18]:
mean(y, trim=0.2)

[1] 1

THe main point of this is that a function such as mean can sometimes have more than one `argument`. We gave `mean()` two arguments: `x` and `trim=0.2`.

**TASK FOR YOU** Create a code cell below. Create a vector with elements 1,2,3,4,5,60. Calculate the mean, and the trimmed mean where `trim=0.2`. Print out.

## Logical variables

Another useful feature is logical quantities. The elements of a logical vector can have the values `TRUE`, `FALSE` (or `NA` for "not available").

Logical vectors are generated by *conditions*. The following expression, for example, sets `temp` as a vector of the same length as `x` with values `FALSE` corresponding to elements of `x` where the condition is not met and `TRUE` where it is:

In [19]:
temp <- x > 13
temp
x

[1] FALSE FALSE FALSE FALSE  TRUE

[1] 10.4  5.6  3.1  6.4 21.7

i.e. only the last element of x is greater than 13.

The basic logical operators are `<`, `<=`, `>`, `>=`, `==` for exact equality, and `!=` for inequality

In [20]:
#For example, does 2 equal 3?
2 == 3

[1] FALSE

In [21]:
# Is 2 NOT EQUAL to 3?
2!=3

[1] TRUE

**TASK FOR YOU** write code to test whether any of x equal 3.1?

In [22]:
# try to write the command here--

## Missing values

Sometimes there will be missing value in your data. When an element or value is "not available" or a "missing value" you can reserve a place for it within a vector by assigning it the special value `NA`. In general, any operation on an `NA` becomes an `NA`. e.g NA + 1 = NA. The function `is.na(x)` gives a logical vector of the same size as `x` with value `TRUE` if and only if the corresponding element in `x` is `NA`:

In [23]:
z <- c(1:3,NA)

z

ind <- is.na(z)

ind

[1]  1  2  3 NA

[1] FALSE FALSE FALSE  TRUE

There is also is a second kind of "missing" value, the NaN or not-a-number, which is produced by numerical computation that cannot be sensibly performed:

In [24]:
90/0
0/0
Inf - Inf

[1] Inf

[1] NaN

[1] NaN

**TASK FOR YOU** Create a vector with elements 1,2,3,4,NA. Calculate the mean using the function `mean()`, and see what happens.

## Character vectors

Character quantities and character vectors are used frequently in R, for example as plot labels. They're defined by a sequence of characters inside double quotes, for example:

In [25]:
"x-values"
"New iteration results"

[1] "x-values"

[1] "New iteration results"

As with numbers, character vectors may be concatenated into a vector using the `c()` function.

In [26]:
labs <- c("Label 1", "Label 2")
labs

[1] "Label 1" "Label 2"

**TASK FOR YOU** Add a code cell below and create a vector with the labels: red, blue, green. Print out.

## Index vectors; selecting and modifying subsets of a data set

Subsets of the elements of a vector may be selected by appending to the name of the vector an *index vector* in square brackets.  There are different ways to do this. We consider two.

### (1) A logical vector

In this case the index vector should be the same length as the vector from which elements are to be selected. Values corresponding to `TRUE` in the index vector are selected and those corresponding to `FALSE` are omitted. For example, the following expression creates an object `y` which contains the non-missing values of `x`, in the same order. Note that if `x` has missing values, `y` is shorter than `x`.

In [27]:
y <- x[!is.na(x)]
y

[1] 10.4  5.6  3.1  6.4 21.7

### (2) A vector of the positions wanted

For example:

In [28]:
x[2]    # The second component of x
x[1:3] # Selects the first 3 elements of x 
x[c(1,2,3)] #Another way to select the first 3 elements of x

[1] 5.6

[1] 10.4  5.6  3.1

[1] 10.4  5.6  3.1

**TASK FOR YOU** Select the 1st, 2nd and 4th element of `x` and print out.

In [29]:
# Enter your code here

## Other data structures

Vectors are an important type of object in R, and if you understand the above then it is easier to work with other structures. These two re quite useful to understand --

- *Data frames* are matrix-like structures in which the columns can be of different types. Think of data frames as 'data matrices' with one row per observational unit but with (possibly) both numerical and categorical variables. Many experiments are best described by data frames: the treatments are categorical but the response is numeric. See [Data frames](https://cran.r-project.org/doc/manuals/r-release/R-intro.html#Data-frames).

- *Factors* provide compact ways to handle categorical data. See [Factors](https://cran.r-project.org/doc/manuals/r-release/R-intro.html#Factors).

# A sample R session

The code in this walkthrough introduces you to various features of R for some basic data analysis. To begin with, we will use R to make up some data (simulation). We'll generate two random normal vectors of x- and y-coordinates where y = x + error

In [30]:
# the first data vector are 20 sampes from a standard Normal distribution (mean 0, sd 1)
myvar1 <- rnorm(20)

# the second data vector are 20 samples equal to the first data vector plus the first data vector multiplied by another standard normal distribution. 
myvar2 <- myvar1 + rnorm(20)

# then we can put them into a data frame 
dummy <- data.frame(x=myvar1, y=myvar2)

#and print out so you can see the data we made up
dummy

   x            y
1  -0.013221599 -0.0003837305
2   0.861169985  0.6070364377
3  -0.308432979  0.2738900904
4   0.173185330 -0.0924330743
5   0.141760798 -1.5935485478
6  -1.017219606 -0.9742680249
7  -0.793453762 -0.9465485948
8   1.238868011  2.4153112444
9  -0.640386400  0.1639749853
10  0.323717941 -0.9462904678
11 -0.588828443 -0.2499821515
12  0.320672682  1.0456806353
13  0.294444907  1.2973189192
14  0.115835200 -1.8174116352
15 -1.799339554 -2.3087854443
16  0.002259104  0.8278932990
17  0.686551194  1.3303439299
18 -0.187251487 -0.8277230988
19  0.163946466  0.2611269161
20 -0.167559423  0.3810573756

Every time you run this, you'll get different numbers in your table (new simulation is run).

Lets get a quick summary of these data

In [31]:
# A quick way to get summary statistics of columns in the data frame
summary(dummy)

       x                  y
 Min.   :-1.79934   Min.   :-2.30879
 1st Qu.:-0.37853   1st Qu.:-0.94635
 Median : 0.05905   Median : 0.08180
 Mean   :-0.05966   Mean   :-0.05769
 3rd Qu.: 0.30100   3rd Qu.: 0.66225
 Max.   : 1.23887   Max.   : 2.41531

This tells us the minimm, maximum, median, mean, 1st quantile (75% of data above this point) and 3rd quantile (25% of data above this point) for our `x` and `y` columns, that we made up.

We can also do this one statistic at a time. For example:

In [32]:
#To access each column we use a dollar sign
#e.g. x
dummy$x

 [1] -0.013221599  0.861169985 -0.308432979  0.173185330  0.141760798
 [6] -1.017219606 -0.793453762  1.238868011 -0.640386400  0.323717941
[11] -0.588828443  0.320672682  0.294444907  0.115835200 -1.799339554
[16]  0.002259104  0.686551194 -0.187251487  0.163946466 -0.167559423

**TASK FOR YOU** Print out summary statistics for x only

In [33]:
# Enter your code here

In [34]:
#another way to get mean of x
mean(dummy$x)

[1] -0.05966408

In [35]:
#mean of first 10 values of y
mean(dummy$y[1:10])

[1] -0.109326

We may also calculate correlation coefficients between x and y as follows.

In [36]:
cor.test(dummy$x, dummy$y)

	Pearson's product-moment correlation

data:  dummy$x and dummy$y
t = 3.8698, df = 18, p-value = 0.001122
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 0.3297016 0.8599664
sample estimates:
      cor
0.6739004

In [37]:
cor.test(dummy$x, dummy$y, method="spearman")

	Spearman's rank correlation rho

data:  dummy$x and dummy$y
S = 524, p-value = 0.005492
alternative hypothesis: true rho is not equal to 0
sample estimates:
     rho
0.606015

**TASK FOR YOU** Calculate Pearson correlation between x and itself (should be 1)

In [38]:
#Enter your code here

# Plots

One way to do plots is to generate a graphics file. We'll generate PNG files, but you can generate many other types in a similar way (e.g. PDF, EPS, JPEG; e.g. use pdf() instead of png(); ?pdf for furter help)

In [39]:

#To save a graphic you first need to open the file (called 'plot1.png' here)
png('plots/plot1.png')

##Then you make the chart.
##This is a standard R scatterplot
plot(dummy$x, dummy$y)

## Then - important - close the file using 'dev.off()'
dev.off()

png
  2

Then show the chart 'plot1.png' in a markdown cell via (click edit to see the code for this if you see a chart already) --
![title](plots/plot1.png)

(You can also use the plot in other software - it has been saved onto your cloud storage for the project.)

In [40]:
# Now lets repeat, but add some labels 

#To save a graphic you first need to open the file (lets save as a pdf this time called 'plot1b.pdf' here)
pdf('plot1b.pdf')

##Then you make the chart.
##This is a standard R scatterplot, but now we've added some labels to the plot
plot(dummy$x, dummy$y, xlab="TEMPERATURE", ylab="CONSUMPTION OF CHOCOLATE ICE CREAM", main="I love ice cream when it is hot")

## Then - important - close the file using 'dev.off()'
dev.off()

png
  2

So now you can produce a simple scatter plot in R and save it as a png or a pdf file. e.g. You can import png files into Word. You can open the PDF using a viewer like Adobe acrobat - it will be saved in your cloud storage associated with this notebook.

**TASK FOR YOU** Create a PNG file that has the same plot as the PDF file. Save your file as 'plots/plot1-updated.png'

In [41]:
#Enter your code here

**TASK FOR YOU** Create a new markdown cell and include the plot by coping the below markdown code:
```markdown
![new plot](plots/plot1-updated.png)
```

*Replace this with your markdown*